<main class="font">
  <div class="bg">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
          aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../assets/photos/coffeeslide1.jpg" width="100%" height="100%" class="bd-placeholder-img res"
            aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false" />

          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Coffee &nbsp; in &nbsp; your &nbsp; way</h1>
              <p class="text">
                <u>More beans. More taste.</u> With a substantial amount of
                coffee, you can rule the world
              </p>
              <ng-container *ngIf="user$ | async as user">
                <button mat-raised-button color="primary" (click)="showtoast()">
                  Hello 👋🙏 &nbsp;{{ user.displayName }}
                </button>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/photos/coffeeslide11.jpg" width="100%" height="100%" aria-hidden="true"
            preserveAspectRatio="xMidYMid slice" focusable="false" class="bd-placeholder-img res" />

          <div class="container">
            <div class="carousel-caption adj">
              <h1>Make your morning more than just good</h1>
              <ng-container *ngIf="user$ | async as user">
                <p class="text">
                  <u>Finest tea</u> tells Good morning &nbsp;<font>{{
                    user.displayName
                    }}</font>
                </p>
              </ng-container>
              <button mat-raised-button color="primary" routerLink="/about">
                Learn More
              </button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../assets/photos/coffeeslide21.jpg" width="100%" height="100%" aria-hidden="true"
            preserveAspectRatio="xMidYMid slice" focusable="false" class="bd-placeholder-img res" />

          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Pure coffee. Pure community. Pure experience.</h1>
              <p class="text">
                <<u>Your Coffee. Your Way.</u> We don’t make your coffee. We make
                your day.
              </p>
              <button mat-raised-button color="primary" routerLink="about" (click)="construction()" target="_blank">
                Browse gallery
              </button>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4 space">
          <img src="../../assets/photos/cappuccino.jpg" alt="1" height="60%" width="100%"
            class="bd-placeholder-img mat-elevation-z9 shadow" />
          <h2 class="fw-normal">cappuccino</h2>
          <p>
            Dark, rich espresso lies in wait under a smoothed and stretched
            layer of thick milk foam. An alchemy of barista artistry and craft.
          </p>
          <button mat-raised-button class="custom" routerLink="/coffee">
            Buy &raquo;
          </button>
        </div>

        <div class="col-lg-4 space">
          <img src="../../assets/photos/espresso.jpg" alt="1" height="60%" width="100%"
            class="bd-placeholder-img mat-elevation-z9 shadow" />
          <h2 class="fw-normal">espresso</h2>
          <p>
            Espresso is a concentrated form of coffee served in small, strong
            shots and is the base for many coffee drinks. It's made from the
            same beans as coffee but is stronger, thicker, and higher in
            caffeine.
          </p>
          <button mat-raised-button class="custom" routerLink="/coffee">
            Buy &raquo;
          </button>
        </div>

        <div class="col-lg-4 space">
          <img src="../../assets/photos/caffe-americano.jpg" alt="1" height="60%" width="100%"
            class="bd-placeholder-img mat-elevation-z9 shadow" />
          <h2 class="fw-normal">caffe-americano</h2>
          <p>
            Espresso shots topped with hot water create a light layer of crema
            culminating in this wonderfully rich cup with depth and nuance.
          </p>
          <button mat-raised-button class="custom" routerLink="/coffee" target="_blank">
            Buy &raquo;
          </button>
        </div>
      </div>
    </div>

    <!-- Marketing messaging and mains
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      <!-- START THE mainS -->

      <hr class="main-divider" />

      <div class="row main">
        <div class="col-md-7">
          <h2 class="main-heading fw-normal lh-1 ltr-spc">
            First main heading.
            <span class="text-muted ltr-spc">It’ll blow your mind.</span>
          </h2>
          <p class="lead">
            Some great placeholder content for the first main here. Imagine some
            exciting prose here.
          </p>
        </div>
        <div class="col-md-5">
          <img src="../../../assets/photos/home2.jpg" alt="1" width="100%" height="100%"
            class="bd-placeholder-img mat-elevation-z9" />
        </div>
      </div>

      <hr class="main-divider" />

      <div class="row main">
        <div class="col-md-7 order-md-2">
          <h2 class="main-heading fw-normal lh-1 ltr-spc">
            Oh yeah, it’s that good.
            <span class="text-muted ltr-spc">See for yourself.</span>
          </h2>
          <p class="lead">
            We provide the 100% best quality coffee, comfort, and respect to all
            customers. We also have a discount services and this the only thing
            that is our reference of Groot's cafe to feel the proud. so we
            provides 10% to 40% discount on coffee, food and tea and they can
            buy it from anywhere they want in best discount which will be
            provided by our Groot's Cafe.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img src="../../../assets/photos/home1.jpg" alt="1" width="100%" height="100%"
            class="bd-placeholder-img mat-elevation-z9" />
        </div>
      </div>

      <hr class="main-divider" />

      <div class="row main">
        <div class="col-md-7">
          <h2 class="main-heading fw-normal lh-1 ltr-spc">
            And lastly, this one.
            <span class="text-muted ltr-spc">Checkmate.</span>
          </h2>
          <p class="lead">
            Yes, We Provides all variety coffee is made from 100% natural coffee
            and water, and nothing else! Farmers handpick the finest red, ripe
            coffee beans that are ready to be dried and hulledF.
          </p>
        </div>
        <div class="col-md-5">
          <img src="assets/photos/home3.jpg" alt="1" width="100%" height="100%"
            class="bd-placeholder-img mat-elevation-z9" />
        </div>
        <hr class="main-divider" />
      </div>
      <!-- /END THE mainS -->
    </div>
    <!-- /.container -->
  </div>
</main>
