<div class="bg">
  <main>
    <article class="about-us">
      <h1 class="about-us-title mb-1">About &nbsp; Us</h1>
      <hr class="main-divider" />
      <h2>
        <ul>
          <li>
            It happens millions of times each week – a happy customer receives a
            drink from a Groot's Cafe – but each interaction is unique.
          </li>
        </ul>
      </h2>
      <h2>
        <ul>
          <li>
            <p>
              It’s just a moment in time – just one hand reaching over the
              counter to present a cup to another outstretched hand.
            </p>
          </li>
        </ul>
      </h2>

      <hr class="main-divider" />
      <div mat-elevation-z9>
        <img
          class="mat-elevation-z9"
          fxFlex="67%"
          fxFlex.xs="100%"
          fxFlex.sm="75%"
          fxFlex.md="50%"
          src="../../../assets/photos/community.jpg"
          style="border-radius: 3%;"
        />
      </div>
      <hr class="main-divider" />
      <ul>
        <li>
          <p>
            We make sure everything we do honors that connection – from our
            commitment to the highest quality coffee in the world, to the way we
            engage with our customers and communities to do business
            responsibly.
          </p>
        </li>
      </ul>
      <div>
        <img
          class="mat-elevation-z9"
          fxFlex="70%"
          fxFlex.xs="100%"
          fxFlex.sm="75%"
          fxFlex.md="50%"
          src="../../../assets/photos/home21.jpg"
          style="border-radius: 3%;"
        />
      </div>
    </article>
  </main>
</div>
